@import "~/styles/variables.scss";
@import "~/styles/mixins.scss";

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.applicationForm {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.headerContainer {
  text-align: center;
  align-self: center;
  padding-bottom: 0.5rem;

  @include down($breakpoint-md) {
    width: 60%;
  }

  @include down($breakpoint-sm) {
    width: 80%;
  }
}

.header {
  border-bottom: solid $text-color-primary 2px;
  padding-bottom: 0.5rem;
  color: $text-color-primary;
  font-weight: 600;

  @include font-size($h1-font-sizes);
}

.formContents {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}
