@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.section {
	margin-top: 1em;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.sectionHeader {
	margin-bottom: 1rem;
}

.formDialog {
	width: 80%;
	padding: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-bottom: 3em;
	margin-top: 5em;
	z-index: 5;
	background-image: $dialog-container-gradient-lighter;

	@include down($breakpoint-md) {
		width: 90%;
		margin-top: 10%;
	}

	@include down($breakpoint-sm) {
		margin-top: 20%;
	}
}

.applicationForm {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-self: center;
}

.headerContainer {
	width: 50%;
	text-align: center;
	align-self: center;

	@include down($breakpoint-md) {
		width: 60%;
	}

	@include down($breakpoint-sm) {
		width: 80%;
	}
}

.header {
	border-bottom: solid $text-color-primary 2px;
	text-align: center;
	font-weight: 400;
	padding-bottom: 1rem;
}

.formContents {
	margin-top: 2em;
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.buttonContainer {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1em;
}

.resumeUploadContainer {
	display: flex;
	align-items: center;
	gap: 1em;
	flex-direction: row;
}

.fieldRow {
	display: flex;
	flex-direction: row;
	width: 100;
	gap: 1em;
	flex-wrap: wrap;
}

.fieldRow > div {
	flex: 1 1 250px;
}
