@import '~/styles/variables.scss';
@import '~/styles/mixins.scss';

.dialog {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tabs {
	width: 100%;
	justify-content: space-between;
}

.tabPanel {
	width: 100%;
}
