@import "~/styles/variables.scss";
@import "~/styles/mixins.scss";

.waveContainer {
  position: absolute;
  width: 100%;
  top: 0;
  overflow: hidden;

  @include height-down($breakpoint-sm) {
    display: none;
  }
}

.headerAssets {
  position: absolute;
  left: 60px;
  top: 40px;
  display: flex;
  gap: 1em;

  @include down($breakpoint-md) {
    top: 10px;
    left: 10px;
  }
}

.link {
  display: flex;
  flex-direction: column;
}

.scottyIcon {
  position: relative;
  height: 100px;
  top: 10px;
  z-index: 1;
  filter: invert(1);
  opacity: 0.6;

  @include down($breakpoint-md) {
    height: 80px;
  }

  @include down($breakpoint-sm) {
    height: 60px;
  }

  @include down($breakpoint-xs) {
    display: none;
  }
}

.title {
  position: relative;
  z-index: 1;
  opacity: 0.6;
  font-weight: 600;

  color: $text-color-contrast;
}

.subtitle {
  position: relative;
  z-index: 1;
  color: $text-color-contrast;
  opacity: 0.6;
  font-weight: 100;
}

.waveSvg {
  position: relative;
  width: 100%;
  height: 250px;
  filter: $drop-shadow;

  @include down($breakpoint-md) {
    height: 150px;
  }

  @include down($breakpoint-sm) {
    height: 140px;
  }

  @include down($breakpoint-xs) {
    height: 130px;
  }
}

.waveSvgStart {
  stop-color: $wave-gradient-color-end;
}

.waveSvgEnd {
  stop-color: $wave-gradient-color-start;
}

.nodate {
  position: absolute;
  width: 100%;
  top: 10px;
  display: flex;
  flex-direction: column;
}

.nodate .link {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.nodate .scottyIcon {
  height: 60px;

  @include down($breakpoint-md) {
    height: 40px;
  }

  @include down($breakpoint-sm) {
    height: 30px;
  }

  @include down($breakpoint-xs) {
    display: none;
  }
}

.nodate .regText {
  z-index: 1;
  opacity: 0.6;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;

  color: $text-color-contrast;

  @include down($breakpoint-md) {
    font-size: 3em;
  }

  @include down($breakpoint-sm) {
    font-size: 2.5em;
  }
}

.textDark {
  color: $text-color-primary;
}

.uninvert {
  filter: none !important;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.light {
  @include height-down($breakpoint-md) {
    display: none;
  }
}

.byline {
  @include down($breakpoint-md) {
    display: none;
  }
}
