@import "~/styles/variables.scss";
@import "~/styles/mixins.scss";

.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
  padding: 1em;
  margin: 0 auto;
  text-align: center;

  @include down($breakpoint-md) {
    width: 50%;
  }

  @include down($breakpoint-sm) {
    width: 80%;
  }
}

.registrationForm {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;

  @include down($breakpoint-md) {
    gap: 0.8em;
  }

  @include down($breakpoint-sm) {
    gap: 0.4em;
  }
}

.header {
  margin-bottom: 1rem;
  font-weight: 600;
  background-image: linear-gradient(
    180deg,
    $gradient-color-start 19.64%,
    $gradient-color-end 69.64%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.switchAuth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  color: $text-color-primary;
}

.link {
  font-weight: bold;
  text-decoration: none;
  color: $text-color-primary;
  margin-bottom: 1rem;
}

.link:hover {
  text-decoration: underline;
  filter: brightness(85%);
}

.warning {
  width: 35rem;
  margin: 5px auto;
  vertical-align: middle;

  @include down($breakpoint-sm) {
    width: 80%;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.emphasize {
  font-weight: 600;
  text-decoration: underline;
}
