@import '~/styles/variables.scss';
@import '~/styles/mixins.scss';

.dialog {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25%;
	padding: 1em;
	text-align: center;

	@include down($breakpoint-md) {
		width: 50%;
	}

	@include down($breakpoint-sm) {
		width: 80%;
	}
}

.resetForm {
	display: flex;
	flex-direction: column;
	gap: 1em;
	width: 100%;
}

.header {
	font-weight: 600;
	background-image: linear-gradient(
		180deg,
		$gradient-color-start 19.64%,
		$gradient-color-end 69.64%
	);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 1em;
}

.dialogContent {
	display: flex;
	flex-direction: column;
	color: $gradient-color-start;
}
