@import "~/styles/variables.scss";
@import "~/styles/mixins.scss";

.waveContainer {
  position: fixed;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.waveSvg {
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0;
  filter: $drop-shadow;
}

.strokeLeft {
  position: absolute;
  bottom: 0;
  max-height: 30%;
  max-width: 40%;
}

.strokeRight {
  position: absolute;
  bottom: 0;
  max-height: 30%;
  max-width: 40%;
  right: 0;
}

.scottyIcon {
  position: relative;
  width: 75px;
  height: 65px;

  @include down($breakpoint-md) {
    width: 100%;
  }

  margin-right: 1em;
}

.gradientStart {
  stop-color: $wave-gradient-color-start;
}
.gradientStop {
  stop-color: $wave-gradient-color-end;
}
