@import "~/styles/variables.scss";
@import "~/styles/mixins.scss";

.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1em;
  margin: 0 auto;
  text-align: center;
}

.resetForm {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.header {
  font-weight: 600;
  background-color: $color-primary-darker;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.dialogContent {
  display: flex;
  flex-direction: column;
  color: $gradient-color-start;
}

.emailLabel {
  font-weight: bold;
}

.link {
  font-weight: bold;
  text-decoration: none;
  color: $text-color-primary;
  margin-top: 2em;
}

.link:hover {
  text-decoration: underline;
  filter: brightness(85%);
}
