@import './variables.scss';
@import './mixins.scss';

.background {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 10em;
	box-sizing: border-box;

	@include down($breakpoint-md) {
		padding-top: 3em;
	}
}
