@import "./variables.scss";
@import "./mixins.scss";

.dialog {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 250px;

  @include down($breakpoint-sm) {
    margin-top: 150px;
  }

  @include height-down($breakpoint-sm) {
    margin-top: 140px;
  }

  @include down($breakpoint-xs) {
    margin-top: 130px;
  }
}

.scottyIcon {
  position: relative;
  width: 40%;
  bottom: 0;

  @include down($breakpoint-md) {
    width: 60%;
  }

  @include down($breakpoint-sm) {
    width: 100%;
  }
}

// prevents overflow on forgot password dialog
div#__next,
div#__next > div {
  height: fit-content;
  width: 100%;
}