// Colors
$color-primary: #0b3b48;
$color-primary-darker: #042129;
$color-primary-lighter: #4a7581;
$color-secondary: #000;
$color-contrast: #fff;

$color-theme-one: #3A5FF3;
$color-theme-two: #F8F0EE;
$color-theme-three: #FF70A1;

$body-background-color: #fff;

// Text colors
$text-color-primary: $color-primary;
$text-color-secondary: $color-contrast;
$text-color-contrast: #fff;
$text-color-alt: #fdcd60;
$text-color-unfocused: #999999;
$link-color: $color-secondary;

// Status badge colors
$status-color-unverified: #f3964a;
$status-color-verified: #2979ff;
$status-color-applied: #ffc107;
$status-color-admitted: #8bc34a;
$status-color-rejected: #f44336;
$status-color-declined: #f44336;
$status-color-confirmed: #4caf50;
$status-color-admin: #ff1100;
$status-color-judge: #CF9FFF;

$color-success: #4caf50;
$color-loading: #ffc107;
$color-error: #f44336;

// Gradient colors
$gradient-color-start: $color-primary-darker;
$gradient-color-end: $color-secondary;

$wave-gradient-color-start: #3A5FF3;
$wave-gradient-color-end: #0B3B48;

$light-gradient-color-start: #ffffff;
$light-gradient-color-end: #ffe3e3;

$dialog-container-gradient: linear-gradient(316.54deg,
		rgba(255, 255, 255, 0.95) 3%,
		rgba(0, 0, 0, 0.4) 150%);

$dialog-container-gradient-lighter: linear-gradient(316.54deg,
		rgba(255, 255, 255, 0.95) 3%,
		rgba(0, 0, 0, 0.4) 200%);

// Additional component colors
$button-color: $color-primary;
$button-color-focused: $color-primary;

// Component properties

// Font sizes
$hero-font-sizes: (
	default: 5rem,
	md: 3.5rem,
	sm: 2.5rem,
	xs: 2rem,
);
$h1-font-sizes: (
	default: 3rem,
	md: 2.5rem,
	sm: 2rem,
);
$h2-font-sizes: (
	default: 2rem,
	md: 1.8rem,
	sm: 1.5rem,
);
$body-font-sizes: (
	default: 1rem,
	xs: 0.8rem,
);
$subtitle-font-sizes: (
	default: 0.8rem,
);
$subtitle1-font-sizes: (
	default: 0.6rem,
);
$button-font-sizes: (
	default: 1.3rem,
);

// Container paddings
$container-padding: 1em 1.5em 1em 1.5em;

// Shadows
$box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
	0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07);
$drop-shadow: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.2));
$text-shadow: 1px 1px 10px #0005;
$drop-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

$dialog-container-box-shadow: 0px 4px 4px rgba(200, 116, 56, 0.25);

// Transitions
$logo-hover-transition: 0.2s;